/*adyacente que llame a h2 y al p consecutivo*/
h2 + p {
    background-color: blue;
}

/*uso del hijo DIRECTO, poner border*/
ul > li{
    border: 1px solid yellow;
}

/*uso solo del hijo INDIRECTO, poner margin y pading*/
div li{
    margin: 10px;
    padding: 5px;
    border: 3px solid blueviolet ;
}

/*que el div siguiente al h1 tenga border y pading*/
h1 + div{
    border: 2px solid green;
    padding: 10px;
}

/*que el h2 directo del div tenga la primera letra mas grande*/
div > h2:first-of-type::first-letter{
 font-size: 200%;
}

/*todos los elementos tengan border 2 px solido y rojo*/
h1, h2, div, p{
    border: 2px solid red;
}


/*que la a se vea diferente al clicar al haber sido clicada y al tener el raton encima*/
  
  /* Estilo por defecto del enlace */
  a {
    color: blue; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
  }
  
  /* Estilo del enlace al tener el ratón encima */
  a:hover {
    background-color: yellow; /* Fondo amarillo al pasar el ratón por encima */
  }
  
  /* Estilo del enlace al ser clicado */
  a:active {
    color: red; /* Color del texto rojo al ser clicado */
  }
  a :visited{
    background-color: blueviolet; /*marca cuando le hicimos click sobre el enlace*/
  }
  