* {
    /*border: 1px solid black;*/
    font-family: "Roboto", sans-serif;
}

.hidden{
    display: none !important; /*oculta este elemento*/
}

header,
main,
#add-task-container,
#lists-container{
    display: flex;
    justify-content: center;
    color: #CC8800;
    gap: 5px;
}

#add-task-input,
#add-task-btn{
    border: #fdd88f ;
    border-radius: 5px;
    margin: 1px;
    background-color: #cc880081;
    color: white;
}


body{
    background-color: #ffedc8b9;
}

#to-do-container,
#done-container{
    display: flex; /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    flex-direction: column;
    flex-grow: 1;
    background-color: #fdd88f96 ;
    border-radius: 5px;
    margin: 10px;

}

#to-do-container h2 {
    color: #976501;
    margin: 10px;
}
#done-container h2 {
    color: #b1760054;
    margin: 10px;
}

.task {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 5px;
    position: relative;
    gap: 10px;
}

main{
    flex-direction: column;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #976501;
}